@use 'src/styles/vars';

.header {
  padding: vars.$halfGutter vars.$gutter;
  box-shadow: 0 20px 20px -30px rgba(0,0,0,.4); 
  text-align: center;
  display: flex;
  justify-content: space-between;

  &-logo {
    width: 50px;
  }
}

.loginError {
  font-size: 0.8em;
  color: rgb(82, 9, 9);
}
